<?php
include 'common/common.php';
include 'view/header.php';
?>

<!--====banner====-->
<div class="serviceSection fixtop">
    <div class="prlx_lyr_1 pic pic2 col-xs-12 col-sm-12">
        <div class="text-lg">
            <div id="content_layer" class="textmid">
                <div class="textareaW100 textcenter">

                    <h5 class="bannerTxt">LET ME INTRODUCE</h5>
                    <h1 class="bannerTxt2">Our Environment</h1>
                    <div class="textHr">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--====equipment====-->

<div class="equip">
    <div class="col-xs-12 col-sm-6 ">
        <div class=" text-col2 ">
            <h2 class="darker textcenter">環境設備</h2>
            <p id="text1" class="tabcontent"><span class="darker">技術理念</span><br>我們以尊重皮膚生理機能的同時也在積極地倡導Active
                Ecology的概念下，採用先進的技術來開發新產品。我們運用皮膚科學研究所C.E.R.E.D.A.P的科學家與世界各地不同領域的科學家們聯合研究出的成果在產品開發上。這樣傑出的研究成果獲得大家的認同也取得60種以上的專利。
            </p>
            <p id="text2" class="tabcontent"><span class="darker">超音波設備</span><br>利用超音波按摩噴頭，帶動空氣形成陰陽離子，對人體背、腰等部位按摩刺激，以迅速消除疲勞，並可減輕慢性消化性疾病的不適感，使全身舒暢。
                各式鵝頸沖擊泉
                利用強力沖水壓對頭、頸、肩部進行按摩、藉以消除全身的緊張感，達到減肥、減低持續性腰痛、背痛、血液循環、鎮靜的功能。</p>
            <p id="text3" class="tabcontent"><span class="darker">草本蒸氣浴</span><br>
                現代科學研究證明蒸氣療法是通過熱的作用，可以加速血液、淋巴液的循環、促進新陳代謝、開發汗孔、活血通筋、排除體內毒素去除風寒、溼熱、通過全身薰蒸可緩解症狀，清潔肌膚、消除肥胖、有利於疾病治療。</p>


            <p id="text4" class="tabcontent"><span class="darker">低溫紅外線烤箱</span><br>美國太空總署(NASA)研究報告指出在紅外線內，對人體有幫助的6-14微米遠紅外線，能滲透人體內部15CM，從內部發熱。從體內開始作用，能促進微血管的擴張，使血液循環順暢，達到新陳代謝的目的，盡而增加身體的免疫力（抵抗力）及治癒力。
            </p>


        </div>
    </div>
    <div class="col-xs-12 col-sm-6 ">
        <div class="col4Group">
            <div class="tab2">
                <div class="col-xs-12 col-sm-6 ">
                    <button type="button" class="tablinks " onclick="openCity(event, 'text1')" id="defaultOpen">

                        <div class="picholder-col4">
                            <img src="{{ __DIR__ }}assets/images/equip/equip1.jpg" alt="">
                        </div>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6 ">

                    <button class="tablinks" onclick="openCity(event, 'text2')">
                        <div class="picholder-col4">
                            <img
                                    src="{{ __DIR__ }}assets/images/equip/equip2.jpg" alt="">
                        </div>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6 ">

                    <button class="tablinks" onclick="openCity(event, 'text3')">
                        <div class="picholder-col4">
                            <img src="{{ __DIR__ }}assets/images/equip/equip3.jpg" alt="">
                        </div>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-6 ">

                    <button class="tablinks" onclick="openCity(event, 'text4')">
                        <div class="picholder-col4">
                            <img src="{{ __DIR__ }}assets/images/equip/equip4.jpg" alt="">

                        </div>
                    </button>
                </div>


            </div>

        </div>

    </div>
    <div class="clearfix"></div>
</div>


<div class="equip2">
    <div class="container">
        <div class="col-xs-12 col-sm-12 ">
            <h2 class="darker textcenter">環境設備</h2>
            <div class="picholder-col4">
                <img src="assets/images/equip/equip1.jpg" alt="">
            </div>
            <div class=" text-col2 "><p><span class="darker">技術理念</span><br>我們以尊重皮膚生理機能的同時也在積極地倡導「Active
                    Ecology」〈肌膚活躍生態〉的概念下，採用先進的技術來開發新產品。我們運用皮膚科學研究所C.E.R.E.D.A.P的科學家與世界各地不同領域的科學家們聯合研究出的成果在產品開發上。這樣傑出的研究成果獲得大家的認同也取得60種以上的專利。
                </p></div>

            <div class="picholder-col4">
                <img src="assets/images/equip/equip2.jpg" alt="">
            </div>

            <div class=" text-col2 "><p><span class="darker">超音波設備</span><br>利用超音波按摩噴頭，帶動空氣形成陰陽離子，對人體背、腰等部位按摩刺激，以迅速消除疲勞，並可減輕慢性消化性疾病的不適感，使全身舒暢。
                    各式鵝頸沖擊泉
                    利用強力沖水壓對頭、頸、肩部進行按摩、藉以消除全身的緊張感，達到減肥、減低持續性腰痛、背痛、血液循環、鎮靜的功能。</p></div>

            <div class="picholder-col4">
                <img src="assets/images/equip/equip3.jpg" alt="">
            </div>

            <div class=" text-col2 "><p><span class="darker">草本蒸氣浴</span><br>
                    現代科學研究證明蒸氣療法是通過熱的作用，可以加速血液、淋巴液的循環、促進新陳代謝、開發汗孔、活血通筋、排除體內毒素去除風寒、溼熱、通過全身薰蒸可緩解症狀，清潔肌膚、消除肥胖、有利於疾病治療。</p>
            </div>

            <div class="picholder-col4">
                <img src="assets/images/equip/equip4.jpg" alt="">
            </div>

            <div class=" text-col2 "><p><span class="darker">低溫紅外線烤箱</span><br>美國太空總署(NASA)研究報告指出在紅外線內，對人體有幫助的6-14微米遠紅外線，能滲透人體內部15CM，從內部發熱。從體內開始作用，能促進微血管的擴張，使血液循環順暢，達到新陳代謝的目的，盡而增加身體的免疫力（抵抗力）及治癒力。
                </p></div>


        </div>

    </div>

</div>
<!--====introduct====-->

<!--<div class="introduce">-->
<!--    <div class="group-col">-->
<!--        <div class="col-sm-6 col-lg-3">-->
<!--            <span> <i class="fa fa-trophy" aria-hidden="true"></i> </span>-->
<!--            <h4>XXXXXX</h4>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-lg-3">-->
<!--            <span> <i class="fa fa-trophy" aria-hidden="true"></i> </span>-->
<!--            <h4>XXXXXX</h4>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-lg-3">-->
<!--            <span> <i class="fa fa-trophy" aria-hidden="true"></i> </span>-->
<!--            <h4>XXXXXX</h4>-->
<!--        </div>-->
<!--        <div class="col-sm-6 col-lg-3">-->
<!--            <span> <i class="fa fa-trophy" aria-hidden="true"></i> </span>-->
<!--            <h4>XXXXXX</h4>-->
<!--        </div>-->
<!--        <div class="clearfix"></div>-->
<!---->
<!--    </div>-->
<!--</div>-->

<!--====dinner====-->

<div class="join">

    <div class="env-mia col-xs-12 col-sm-6 ">


    </div>
    <div class="color2 col-xs-12 col-sm-6 ">
        <div class=" text-col2 ">
            <div class="textmid">
                <div class="textarea">
                    <h5 class="titleColor textcenter">Wowing the palate </h5>
                    <h2 class="Btitle textcenter">尋味 ‧ 山巔海濱</h2>
                    <h6 class="smalltext">好奇落山風的味道嗎?來盤洋蔥吧!</h6>
                    <h6 class="smalltext">附設餐廳融合台灣各地及恆春當季食材，推出季節性美食</h6>
                    <h6 class="smalltext">每個轉角總有精采的在地美食故事，陪伴您</h6>
                    <h6 class="smalltext darker">單點: NT$180+10%起/人 </h6>
                    <h6 class="smalltext darker">套餐: NT$880+10%起/人</h6>
                    <h6 class="smalltext ">自備酒水服務費：葡萄酒類每瓶NT$300</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="introduce">
    <div class="group-col">
        <div class="owl-carousel owl-theme">

            <a href="assets/images/branch/f1.jpg" data-lightbox="image-1">
                <div class="item"><img src="assets/images/branch/f1.jpg" alt=""></div>
            </a>

            <a href="assets/images/branch/f2.jpg" data-lightbox="image-1">
                <div class="item"><img src="assets/images/branch/f2.jpg" alt=""></div>
            </a>

            <a href="assets/images/branch/f3.jpg" data-lightbox="image-1">
                <div class="item"><img src="assets/images/branch/f3.jpg" alt=""></div>
            </a>

            <a href="assets/images/branch/f4.jpg" data-lightbox="image-1">
                <div class="item"><img src="assets/images/branch/f4.jpg" alt=""></div>
            </a>
            <a href="assets/images/branch/f5.jpg" data-lightbox="image-1">
                <div class="item"><img src="assets/images/branch/f5.jpg" alt=""></div>
            </a>
            <a href="assets/images/branch/f6.jpg" data-lightbox="image-1">
                <div class="item"><img src="assets/images/branch/f6.jpg" alt=""></div>
            </a>

        </div>

        <div class="clearfix"></div>

    </div>
</div>


<?php include 'view/footer.php'; ?>
